$bgColor: pink;
$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$fontSize: 1.2rem;
$fontColor: white;
$navBgColor: #30a7c3;
$bannerBgColor: hotpink;
$myBorder: 2px solid hotpink;
$buttonColor: rgb(224, 169, 169);
$primaryColor: darkorange;