
//****************************************************
//*                 VARIABLES
//****************************************************


//* FONT
 $font-family:'Segoe UI,
 Tahoma,
 Geneva,
 Verdana,
 sans-serif';


 //* COLORS

 $primaryColor=black;
 $secondary-color:red;
 $text-color: white;